# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Databases
*.db
*.sqlite3

# Environment variables
.env

# Logs
*.log
sms_logs.txt

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
test_app.py
